
.content-index {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #c3d5b1;
  padding: 10px;
  margin-top: 20px;
  margin: 0 auto; /* Добавлено margin: 0 auto; для центрирования */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.content-index ul{
   list-style-type: none; /* Убирает маркеры списка */
   margin: 0 auto; /* Добавлено margin: 0 auto; для центрирования */
}

.user-post{
    margin-bottom:5px;
}
.post-description{
    font-size: 20px;
    text-decoration: none;
    word-wrap: break-word; /* или word-break: break-all; */
    margin: 0 auto; /* Добавлено margin: 0 auto; для центрирования */
    text-overflow: ellipsis; /* Добавляет многоточие в конце обрезанного текста */
    overflow: hidden; /* Скрывает текст, который не помещается */

}

.content-index2 {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #c3d5b1;
  padding: 10px;
  margin-top: 20px;
  margin: 0 auto; /* Добавлено margin: 0 auto; для центрирования */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.index-title {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
  word-wrap: break-word; /* или word-break: break-all; */

}

.post-excerpt {
  font-size: 14px;
  color: #666;
}

.post-link {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  transition: color 0.3s ease;
}

.post-link:hover {
  color: #2980b9;
}
