* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    width: 100%;
    padding-top: 10px;
    position: fixed; /* Закрепляет меню на экране */
    margin: 0 auto;
    z-index: 100; /* Определяет позиционирование меню по z-индексу */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: left;

    margin: 0 auto;
    padding: 0 20px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding-top: 10px;
}

.bar {
padding-top: 0px;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: fixed; /* Закрепляет меню на экране */
  top: 0; /* Прикрепляет меню к верху экрана */
  width: 100%; /* Занимает всю ширину экрана */
  background-color: #333; /* Цвет фона меню */
  color: #fff; /* Цвет текста */
  padding: 10px 0; /* Отступы внутри меню */
  padding-left: 25%; /* Отступы внутри меню */
  align-items: center;
  z-index: 1000; /* Определяет позиционирование меню по z-индексу */
  left: 0;
}

.line {
    margin-right: 20px;

}

.menu li:last-child {
    margin-right: 0;
}

.m-right{
    margin-right: 100;
    color: green;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ff9900;
}


@keyframes blink {
    0%, 100% {
        color: red; /* Первый цвет */
    }
    50% {
        color: green; /* Второй цвет */
    }
}
/* Применение анимации к элементу */
.notification-blink {
    animation: blink 1s infinite; /* Мигать каждую секунду бесконечно */
}

/* Медиа-запрос для адаптивности */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: #333;
        top: 45px;
        left: 0;
        width: 100%;
        padding-left: 0px; /* Отступы внутри меню */
    }

    .menu.active {
        display: flex;

    }

    .menu li {
        margin: 0;
        text-align: center;
        padding: 10px 0;

    }

    .menu-icon {
        display: flex;
        padding-bottom: 10px; /* Отступы внутри меню */
        padding-top: 0px; /* Отступы внутри меню */


    }
}
