
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Центрируем модальное окно по центру экрана */
    width: 100%; /* Фиксированная ширина модального окна */
    max-width: 100%; /* Максимальная ширина модального окна */
    height: 100; /* Автоматическая высота модального окна */
    max-height: 100%; /* Максимальная высота модального окна */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative; /* Добавляем относительное позиционирование */
    max-width: calc(100% - 30px); /* Устанавливаем максимальную ширину контейнера, учитывая отступы */
    max-height: calc(100% - 30px); /* Устанавливаем максимальную высоту контейнера, учитывая отступы */
    margin: 10%; /* Добавляем отступы со всех сторон контейнера */
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider-content img {
    max-width: 100%; /* Устанавливаем максимальную ширину для изображения */
    max-height: 100vh; /* Устанавливаем максимальную высоту для изображения равной высоте видимой области экрана */
    object-fit: contain; /* Сохраняем пропорции изображения и подгоняем его внутри контейнера */
}


.slider img {
    width: 100%;
    height: auto;
}

.slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.slider-controls button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 5px;
    color: white;
}

.slider-controls button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.prev, .next {
    position: fixed; /* Используем fixed вместо absolute */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 9999;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
