body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
    text-align: center; /* Добавьте это свойство для центрирования контента */
    background-color: #c3d5b1;
}

.image-post-detail img {
	max-width: 10%;
	height: auto;
	padding-left: 20px;
	padding-bottom: 20px;
	border: 10px
}
.content-post-detail{
    padding: 10px;
}

.content-index2 p{
margin: 0;
}

a {
	color: #0059b2;
	text-decoration: none;
}

a:hover {
	color: #CC0000;
	text-decoration: underline;
}
img.img-index{
	max-width: 10%;
	height: auto;
	float: center;
	padding-left: 10px;
	padding-bottom: 10px;
}

.content_2d {
  width: 20em;
  text-align: start, top;
  color: #CC0000;
}

div.article-panel {
    background: #eee;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
    color: #555;
}
.table-content {
	width: 100%;
	min-height: 70%;
	height: 70%;
}

.avatar{
    width: 20px; /* Установите желаемую ширину */
    height: 20px; /* Установите желаемую высоту */
    border-radius: 50%; /* Делает аватарку круглой */
    overflow: hidden; /* Обрезает содержимое за пределами области */
    position: relative; /* Необходимо для позиционирования дочерних элементов */

}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
img.img-article {
	max-width: 150px;
	height: auto;
	float: left;

}

.title-detail-post{
    font-family: 'Arial';
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}


.left-chapters ul li.selected {
    color: #000000;
     }
.user-list{
 border: 1px solid #0080FF;
 border-radius: 5px;
 padding: 10px;

}
.user-list p{



}

.messages li {
    animation: fade-out 5s forwards;
    opacity: 1;
}
.messages{
  text-align: center;
  width:70%;
  display: block;
  padding: 10px;
  margin: 0 auto;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  opacity: 0; /* Начальное состояние: невидимое */
  animation: fade-in-out 3s ease-in-out forwards; /* Применение анимации */

}
@keyframes fade-in-out {
  0%, 100% {
    opacity: 0; /* Начальное и конечное состояние: невидимое */
  }
  10%, 90% {
    opacity: 1; /* Состояние видимости */
  }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
.content-profile {
  width: 30%;
  border: 1px solid #ddd;
  background-color: #c3d5b1;
  padding: 10px;
  margin-top: 20px;
  margin: 0 auto; /* Добавлено margin: 0 auto; для центрирования */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

@media screen and (max-width: 768px) {
.content-profile {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #c3d5b1;
  padding: 10px;
  margin-top: 20px;
  margin: 0 auto; /* Добавлено margin: 0 auto; для центрирования */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
}

.content-addpage{
  width: 30%;
  border: 1px solid #30ab93;
  background-color: #c3d5b1;
  padding: 10px;
  margin-top: 20px;
  margin: 0 auto; /* Добавлено margin: 0 auto; для центрирования */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
.content-addpage{
  width: 100%;
  border: 1px solid #ddd;
  background-color: #c3d5b1;
  padding: 10px;
  margin-top: 20px;
  margin: 0 auto; /* Добавлено margin: 0 auto; для центрирования */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
}


