{% extends 'taxiapp/base.html' %}
{% load static %}
{% load blog_tags %}
{% load crispy_forms_tags %}

{% block content %}
<head>
    <title>Taxi App</title>
</head>
<body>
    <h1>Select your city:</h1>
    <form method="post" action="{% url 'select_city' %}">
        {% csrf_token %}
        <select name="city">
            {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="radio" name="user_type" value="P" checked> Passenger
        <input type="radio" name="user_type" value="D"> Driver<br><br>
        <input type="text" name="user_name" placeholder="Enter your name"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
 {% endblock %}
