venv
*.idea/
.media/
__pycache__/
# Игнорирование файлов миграций Django
**/migrations/

# Игнорирование файла БД SQLite
#*.sqlite3

# Игнорирование файлов настроек IDE и редакторов
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.pyc
*.pyo
*.pyd

# Игнорирование файлов настроек и кэша PythonAnywhere
.pythonanywhere/

# Игнорирование файла логов Django
*.log

# Игнорирование файлов конфигурации
*.ini
*.conf
