{% extends "blog/base.html" %}

{% load custom_tags %}

{% block content %}
<!--{% if form.errors %}-->
<!--    <ul class="form-errors">-->
<!--        {% for field, error_list in form.errors.items %}-->
<!--            <li>{{ field }}: {{ error_list|join:", " }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--{% endif %}-->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %}
        class="{{ message.tags }}"
        {% endif %}>
        {{ message|message_with_animation }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="content-login">

    <form method="POST">
        {% csrf_token %}

        <div class="form-field">
            <label class="form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
            {{ form.username }}
            <div class="form-error">{% if form.errors %}
    <ul class="form-errors">
        {% for field, error_list in form.errors.items %}
            {% if field == '__all__' %}
                <li>{{ error_list|join:", " }}</li>
            {% else %}
                <li>{{ field }}: {{ error_list|join:", " }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}</div>
        </div>

        <div class="form-field">
            <label class="form-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}:</label>
            {{ form.password }}
            <div class="form-error">{{ form.password.errors }}</div>
        </div>


        <div class="form-group">
            <button class="button" type="submit">Войти</button>
        </div>
    </form>

    <div style="margin:10px;">
        <p>
            Нужен аккаунт? <a style="color:green;" href="{% url 'register' %}">Регистрация</a>
        </p>
    </div>
</div>


{% endblock content %}