{% extends "blog/base.html" %}
{% load custom_tags %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %}
        class="{{ message.tags }}"
        {% endif %}>
        {{ message|message_with_animation }}
    </li>
    {% endfor %}
</ul>

{% endif %}
<div class="content-login">
    <h3>Вы вышли из своей учетной записи</h3>
     <hr>
    <a class="btn btn-outline-info" href="{% url 'login' %}"> Войти</a>

</div>
{% endblock content %}