{% extends "blog/base.html" %}
{% load custom_tags %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %}
        class="{{ message.tags }}"
        {% endif %}>
        {{ message}}
    </li>
    {% endfor %}
</ul>

{% endif %}
<div class="content-login">
    <h2 style="margin:10px;"> Вы вышли из своей учетной записи</h2>

    <button class="button" >  <a href="{% url 'login' %}"> Войти</a> </button>

</div>
{% endblock content %}