<!-- profile.html -->

{% extends "blog/base.html" %}

{% load custom_tags %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %}
        class="{{ message.tags }}"
        {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<!-- Ссылка на уведомления с восклицательным знаком -->

<!--<a href="{% url 'show_notifications' %}" class="btn btn-info">-->
<!--    {% if profile.notifications %}-->
<!--    Мои уведомления <span class="badge badge-danger">!</span>-->
<!--    {% else %}-->
<!--    Мои уведомления-->
<!--    {% endif %}-->
<!--</a>-->
<div class="content-profile">

    <h2>Ваш профиль</h2>

    <div class="form-title">

        <div class="form-container">
            <!--                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">-->
            <div class="media-body">
                <h4 class="account-heading">Логин: {{ user.username }}</h4>
                <!--                        <h3 class="account-heading">Имя: {{ user.first_name }} {{ user.last_name }}</h3>-->

                <p class="text-secondary">Зарегистрирован: {{ user.date_joined }}</p>
                <!--                        <p class="text-secondary">Ваш Email: {{ user.email }}</p>-->
                <p class="text-secondary">Глубиные : {{ profile.time_glybinie }}</p>

                <!--                        <p class="text-secondary">Отзывы: {{ profile.review }}</p>-->
                <!--                        <p class="text-secondary">Рейтинг: {% if profile.rating == 0 %}-->
                <!--                            Пока нет рейтинга-->
                <!--                            {% else %}-->
                <!--                            {{ profile.rating }}-->
                <!--                            {% endif%}-->
                <!--                        </p>-->

                <!--                        <p class="text-secondary">Статус: {% if profile.is_seller %}-->
                <!--                            Продавец-->
                <!--                            {% else %}-->
                <!--                            Покупатель-->
                <!--                            {% endif%}-->
                <!--                        </p>-->
            </div>
        </div>
        <!-- Форма обновления профиля -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-container">
                <div class="form-field">
                    <label class="form-label" for="{{ u_form.first_name.id_for_label }}">
                        {{ u_form.first_name.label}}:</label>
                    {{ u_form.first_name }}
                </div>
                <div class="form-field">
                    <label class="form-label" for="{{ u_form.last_name.id_for_label }}">
                        {{ u_form.last_name.label}}:</label>
                    {{ u_form.last_name }}
                </div>
                <div class="form-field">
                    <label class="form-label" for="{{ p_form.city.id_for_label }}">
                        {{ p_form.city.label}}:</label>
                    {{ p_form.city}}
                </div>

                <div class="form-field">
                    <label class="form-label" for="{{ p_form.city_filter_for_label }}">
                        Отображаемые записи:</label>

                    <div class="checkbox-row">
        {% for value, label in p_form.city_filter.field.choices %}
            <label>
                <input type="checkbox" name="{{ p_form.city_filter.name }}" value="{{ value }}"
                       {% if value in p_form.city_filter.value %}checked{% endif %}>
                {{ label }}
            </label>
        {% endfor %}
    </div>
                </div>
            </div>

            <div class="form-field">

                <label class="form-label" for="{{ p_form.phone_for_label }}">
                    {{ p_form.phone.label}}:</label>
                {{ p_form.phone}}
            </div>
            <div class="form-field">
                <label class="form-label" for="{{ p_form.image_for_label }}">
                    {{ p_form.image.label}}:</label>
                <div class="form-image"> {{ p_form.image}}</div>
            </div>
    </div>


    <div class="form-group">
        <button class="button" type="submit">Обновить</button>
    </div>
    </form>


</div>
</div>
<!--<script>-->

<!--const element = document.getElementById('id_phone');-->
<!--const maskOptions = {-->
<!--  mask: '+{7}(000)000-00-00'-->
<!--};-->
<!--const mask = IMask(element, maskOptions);-->

<!--</script>-->
{% endblock content %}
