{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load blog_tags %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %}
        class="{{ message.tags }}"
        {% endif %}>
        {{ message|message_with_animation }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<table border=0 cellpadding="0" cellspacing="0">
    <tr>
        <th>
             <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Добро пожаловать</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Регистрация</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Уже есть аккаунт? <a class="ml-2" href="#">Вход</a>
            </small>
        </div>
    </div>

        </th>

    </tr>

</table>

{% endblock content %}