{% extends "blog/base.html" %}

{% load custom_tags %}

{% block content %}
<div class="content-addpage">

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <div class="form-container">
            <div class="form-field">
                <label class="form-label" for="{{ form.city.id_for_label }}">Участок:</label>
                {{ form.city }}
                <div class="form-error">{{ form.city.errors }}</div>
            </div>
            <div class="form-field">
                <label class="form-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
                {{ form.title }}
            </div>
            <div class="form-field">
                <label class="form-label" for="{{ form.description.id_for_label }}">
                    {{ form.description.label}}:</label>
                {{ form.description }}
            </div>
            <div class="form-field">
                <label class="form-label" for="{{ form.cat_post.id_for_label }}">{{ form.cat_post.label }}:</label>
                {{ form.cat_post }}
            </div>
            <div class="form-field">
                <label class="form-label" for="{{ form.ot_kogo_zayavka.id_for_label }}">{{ form.ot_kogo_zayavka.label }}:</label>
                {{ form.ot_kogo_zayavka }}
            </div>

            <div class="form-field">
                <div class="form-row">
                    <div class="form-column">
                        <label class="form-label" for="{{ form.time_zayavki.id_for_label }}">
                            {{ form.time_zayavki.label }}:</label>
                        <input type="time" name="{{ form.time_zayavki.name }}"
                               id="{{ form.time_zayavki.id_for_label }}"
                               value="{{ form.time_zayavki.value|default:''|date:'H:i' }}">
                    </div>
                    <div class="form-column">

                        <label class="form-label" for="{{ form.time_glybinie.id_for_label }}">
                            {{form.time_glybinie.label}}</label>
                        <input type="time" name="{{ form.time_glybinie.name }}"
                               id="{{ form.time_glybinie.id_for_label }}"
                               value="{{ form.time_glybinie.value|default:''|date:'H:i' }}" readonly>
                    </div>
                </div>
            </div>

                <label class="form-label-sim" for="{{ form.simulyation.id_for_label }}">
                 <span class="sim-import ">
                 <span>   Есть симуляция: {{ form.simulyation }} </span>
                 <span>      Важное: {{ form.important}}</span>
                 </span>
                </label>
            <div class="form-field">
                <label class="form-label" for="{{ form.second_user.id_for_label }}">
                    {{ form.second_user.label}}</label>
                {{ form.second_user }}
                <div class="form-error">{{ form.second_user.errors }}</div>
            </div>


            <div class="form-field">
                <label class="form-label" for="{{ form.images.id_for_label }}"> Изабражения, не более 3:
                {{ form.images }} </label>
                <div class="form-error">{{ form.images.errors}}</div>
            </div>

            <ul class="image-list">
                {% for image in post_images %}
                <li class="image-post-detail">
                    <div class="image-container">
                        <img src="{{ image.image.url }}" alt="">
                        <!-- Кнопка удаления с иконкой корзины -->
                        <button type="button" class="delete-image-btn" data-image-id="{{ image.id }}">
                            <i class="delete-image-icon fa fa-trash"></i> Удалить
                        </button>
                    </div>

                    <input type="hidden" name="delete_image_{{ image.id }}" id="delete_image_{{ image.id }}"
                           value="False">
                </li>
                {% endfor %}
            </ul>

            <div class="form-field">
                <button class="button" type="submit">Сохранить</button>
            </div>

        </div>
    </form>
</div>


<!-- Добавьте скрипт для обработки кнопок удаления -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".delete-image-btn");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function () {
                const imageId = this.getAttribute("data-image-id");
                const deleteField = document.getElementById(`delete_image_${imageId}`);
                deleteField.value = "True";
                this.parentElement.style.display = "none"; // Скрыть блок с изображением
            });
        });
    });

</script>

<style>
.image-list {
    display: flex; /* Для отображения изображений в ряд */
    list-style: none; /* Убирает стандартные маркеры списка */
    padding: 0; /* Убирает отступы вокруг списка */

}

.image-item {
    display: flex; /* Для выравнивания элементов внутри li по вертикали */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
    margin-right: 10px; /* Расстояние между изображениями */
}

.image-container {
    display: flex; /* Для выравнивания изображения и кнопки по вертикали */
    flex-direction: column; /* Столбцовая раскладка для элементов */
    align-items: center; /* Выравнивание элементов по центру по горизонтали */
}
.image-container img{
    padding:5px;
}

.delete-image-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.delete-image-icon {
    font-size: 14px;
    vertical-align: middle;
}

</style>

{% endblock content %}