{% extends 'blog/base.html' %}
{% block content %}

<ul>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for p in posts %}
    <li>
        <div>
            <p>Категория: {{p.cat_post}}</p>
            <p>Дата публикации: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
            <h5>Заголовок: {{p.title}}</h5>
        </div>

        <table border=0 cellpadding="0" cellspacing="0">
            <tr>
                <th>
                    <div class="row">
                        {% for image in p.post_images.all %}
                        <div class="col-md-4">
                            <p>
                                <img class="img-article-left" src="{{ image.image.url }}"
                                     alt="Изображение">
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </th>
            </tr>

            <tr>


            </tr>

        </table>

        {% autoescape on %}
        Описание: {{p.description|linebreaks|truncatewords:50}}
        {% endautoescape %}
        <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Подробнее</a></p>

        <p>Коментариев: ({{p.comments_posts.all.count}})</p>


        <hr>
        {% endfor %}
        {% endblock %}
    </li>

</ul>

<script>
  setTimeout(function() {
    document.querySelectorAll('.messages li').forEach(function(message) {
      message.remove();
    });
  }, 3000);

</script>







