{% extends 'blog/base.html' %}
{% block content %}

<ul class="list-articles">
    {% for p in posts %}

    <li>

        <div class="article-panel">
            <p class="first">Категория: {{p.cat_post}}</p>
            <p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
            <h3>{{p.title}}</h3>
        </div>
    {% if p.slug != '' %}
        {% if p.photo_part %}
        <p><img class="img-article-left thumb" src="{{p.photo_part.url}}"></p>
        {% endif %}


        {% autoescape on %}
        {{p.description|linebreaks|truncatewords:50}}
        {% endautoescape %}
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Подробнее</a></p>
     {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
