 {% for category in cats %}

    <li class="menu-li">
      <a href="{% url 'category' category.slug %}" >
        {{ category.name }}
      </a>
      {% if category.child_categories %}
        <button class="toggle-btn" data-target="children-list-{{ category.slug }}">
          &#x25BC;
        </button>
        <ul id="children-list-{{ category.slug }}" class="children-list" style="padding-top:5px;">
          {% for child_category in category.child_categories %}
            <li>
              <a class="menu-child" href="{% url 'category' child_category.slug %}">
                {{ child_category.name }}

              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>


  {% endfor %}


 <script>
  // Функция для обработки клика на кнопку
  function toggleChildren(targetId) {
    var target = document.getElementById(targetId);
    target.classList.toggle('show');
  }

  // Привязка обработчика события к кнопкам
  var toggleButtons = document.getElementsByClassName('toggle-btn');
  for (var i = 0; i < toggleButtons.length; i++) {
    var targetId = toggleButtons[i].getAttribute('data-target');
    toggleButtons[i].addEventListener('click', toggleChildren.bind(null, targetId));
  }


</script>

<style>
.children-list {
  display: none;
  padding-left: 20px;
}
.toggle-btn {
    background-color: #3498db; /* Цвет фона кнопки */
    color: black; /* Цвет текста кнопки */
    border: none;
    padding: 1px 1px; /* Внутренние отступы */
    border-radius: 3px; /* Скругление углов */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Плавные переходы */
}

.toggle-btn:hover {
    background-color: #2980b9; /* Изменение цвета фона при наведении */
}

/* Изменение стиля кнопки при нажатии */
.toggle-btn:active {
    transform: scale(0.9); /* Уменьшение размера при нажатии */
}

.selected {
    background-color: #e6e6e6;
}

.show {
  display: block !important;
}
</style>