<!-- notifications.html -->

{% extends "blog/base.html" %}

{% block content %}
<div class="content-addpage">

    <h1>Уведомления</h1>
    {% if notifications %}
        <ul>
            {% for post_link, notification in notifications %}
                <li>
                    {% if post_link %}
                        <a href="{{ post_link }}">{{ notification }}</a>
                    {% else %}
                        {{ notification }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет уведомлений.</p>
    {% endif %}


<!-- Ссылка на уведомления с восклицательным знаком и ссылкой для очистки -->
<!--<a href="{% url 'show_notifications' %}" class="btn btn-info">-->
<!--    {% if profile.notifications %}-->
<!--        Мои уведомления <span class="badge badge-danger">!</span>-->
<!--    {% else %}-->
<!--        Мои уведомления-->
<!--    {% endif %}-->

<a href="{% url 'clear_notifications' %}" class="button" style="margin-top:15px;">Очистить уведомления</a>

{% endblock %}
    </div>