{% extends 'blog/base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %}
        class="{{ message.tags }}"
        {% endif %}>
        {{ message}}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="content-index">
    <p>Оборудование:
        {% if post.cat_post.parent %}
        <span class="uchastok_title"> {{post.cat_post.parent}}-</span>
        {% endif %}
        <span class="uchastok_title">{{post.cat_post.name}}</span>
        <span style="font-weight: bold;color:red">{% if post.simulyation %}
            Есть симуляция!
        {% endif %}
        </span></p>
    Заголовок :
    <div class="title-detail-post">
        {{post.title}}
    </div>
    <!--    {% if post.time_glybinie == '00:00' %}-->
    <!--    <div class="post-time"> Глубиные:-->

    <!--        {{post.time_glybinie}}</div>-->
    <!--        {% endif %}-->
    Описание :
    <div class="post-description"> {{post.description|linebreaks}}</div>

<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="modal-content">
        <div class="slider">
            <div class="slider-content">
                {% for image in post.post_images.all %}
                <img src="{{ image.image.url }}" alt="">
                {% endfor %}
            </div>
            <div class="slider-controls">
                <button class="prev" onclick="prevSlide()">&#10094;</button>
                <button class="next" onclick="nextSlide()">&#10095;</button>
            </div>
        </div>
    </div>
</div>

    <div class="image-post-detail">
        <div class="row">
            {% for image in post.post_images.all %}
            <img src="{{ image.image.url }}" onclick="openModal('{{ image.image.url }}')">
            {% endfor %}
        </div>
    </div>

    <p>От кого заявка:<span class="post-description"> {{post.ot_kogo_zayavka}}</span>
    <div class="post-time"> Время вызова: {{post.time_zayavki}}</div>
    <p class="user-post"> Написал: {{ user.first_name }} {{ user.last_name }}
        {{ profile.get_city_display}} ({{user.username }})
        {{post.time_update|date:"d.m.Y H:i"}}

        <img class="avatar" src="{{ post.author.profile.image.url }}"
             alt="Avatar"/>
    </p>

    {% if user.is_authenticated and user == post.author %}
    <!-- Элементы, которые будут видны только автору поста -->
    <a class="button" href="{% url 'post-update' object.id %}">Редактировать</a>
    <a class="button-red" href="{% url 'post-delete' object.id %}">Удалить</a>
    {% endif %}

    <div class="comments-form">
        {% if post.comments_posts.all.count > 0 %}
        <p>Коментарии ({{post.comments_posts.all.count}})</p>
        {% endif %}
        {% for comments in post.comments_posts.all %}
        <p class="user-comments">{{ comments.author }} написал {{ comments.created }}</p>
        <p class="comments-text">{{ comments.text }} </p>

        {% empty %}
        <p class="no-comments">Пока нет коментариев</p>
        {% endfor %}

        {% if user.is_authenticated %}
        <!-- Код элементов, которые нужно показать только авторизованным пользователям -->
        <form action="" id="add_form" method="post">
            {% csrf_token %}
            <div class="form-field">
                <label class="form-label" for="{{ form.text.id_for_label }}">{{ form.text.label }}:</label>
                {{ form.text }}
            </div>
            <button class="button" type="submit">Добавить</button>
        </form>

        {% else %}
        <!-- Код элементов, которые нужно скрыть для неавторизованных пользователей -->
        <p class="no-comments">Чтобы оставить коментарий, войдите или зарегистрируйтесь.</p>
        {% endif %}

    </div>
</div>

<!-- Модальное окно -->
<!--<div id="myModal" class="modal">-->

<!--    <span class="close" onclick="closeModal()">&times;</span>-->
<!--    <img id="img01" class="modal-content">-->

<!--</div>-->


{% endblock %}

