{% extends 'blog/base.html' %}

{% block content %}

<style>
   .field{font:red;}

</style>

<h1>{{post.title}}</h1>

<thead>
<tr>
    <th scope="col">''</th>
    <th scope="col">''</th>
</tr>
</thead>
<tbody>
<tr>
    <th scope="row"></th>
    <td>{% if post.photo_part %}
        <p><img class="img-article-left" src="{{post.photo_part.url}}"></p>
        {% endif %}


        <div class="comments-form">

    <h4>Коментарии ({{post.comments_posts.all.count}})</h4>
    {% for comments in post.comments_posts.all %}
    <div class="text-comments">
        <p class="user-comments">{{ comments.author }} написал {{ comments.created }}:</p>
        <p>{{ comments.text }} </p>

    </div>
    {% empty %}
    <p>Пока нет коментариев</p>
    {% endfor %}

    <form action="" id="add_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>

</div>
    </td>
    <td class="content_2d">
        {{post.description|linebreaks}}
    </td>
</tr>

</tbody>
</table>





{% endblock %}

