{% extends 'blog/base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %}
        class="{{ message.tags }}"
        {% endif %}>
        {{ message}}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="content-index">
    <p>Категория: {{post.cat_post}}</p>
    <div class="title-detail-post">
        {{post.title}}
    </div>
    <div class="image-post-detail">
        <div class="row">
            {% for image in post.post_images.all %}
            <img src="{{ image.image.url }}" onclick="openModal('{{ image.image.url }}')">
            {% endfor %}
        </div>
    </div>

    <div class="post-description"> {{post.description|linebreaks}}</div>

    <p class="user-post"> Написал: {{post.author}}
        <img class="avatar" src="{{ post.author.profile.image.url }}" style="width: 50px;height: 50px;"
             alt="Avatar"/>
    </p>

    {% if user.is_authenticated and user == post.author %}
    <!-- Элементы, которые будут видны только автору поста -->
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Редактировать</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Удалить</a>
    {% endif %}
    <hr>
    <div class="comments-form">
        <h5>Коментарии ({{post.comments_posts.all.count}})</h5>

        {% for comments in post.comments_posts.all %}
        <p class="user-comments">{{ comments.author }} написал {{ comments.created }}:</p>
        <p class="comments-text">{{ comments.text }} </p>

        {% empty %}
        <p class="no-comments">Пока нет коментариев</p>
        {% endfor %}

        {% if user.is_authenticated %}
        <!-- Код элементов, которые нужно показать только авторизованным пользователям -->
        <form action="" id="add_form" method="post">
            {% csrf_token %}
            <div class="form-field">
                <label class="form-label" for="{{ form.text.id_for_label }}">{{ form.text.label }}:</label>
                {{ form.text }}
            </div>
            <button class="btn btn-secondary btn-sm mt-1 mb-1" type="submit">Добавить</button>
        </form>

        {% else %}
        <!-- Код элементов, которые нужно скрыть для неавторизованных пользователей -->
        <p class="no-comments">Чтобы оставить коментарий, войдите или зарегистрируйтесь.</p>
        {% endif %}

    </div>
</div>

<!-- Модальное окно -->
<div id="myModal" class="modal">

    <span class="close" onclick="closeModal()">&times;</span>
    <img id="img01" class="modal-content">

</div>


{% endblock %}

