{% extends 'blog/base.html' %}

{% block content %}


<div class="title-detail-post">

    {{post.title}}

</div>

<table border=0 cellpadding="0" cellspacing="0">
    <tr>
        <th>
            <div class="row">
              {% for image in post.post_images.all %}
                <img src="{{ image.image.url }}" onclick="openModal('{{ image.image.url }}')">
              {% endfor %}
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="post-description"> {{post.description|linebreaks}}</div>

        </th>
    </tr>

</table>

<p class="user-post"> Написал:
    <img class="rounded-circle mb-3" src="{{ post.author.profile.image.url }}" style="width: 50px;"
         alt="Avatar"/>
    {{post.author}} </p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </li>
    {% endfor %}
</ul>


{% endif %}
{% if user.is_authenticated and user == post.author %}
    <!-- Элементы, которые будут видны только автору поста -->
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Редактировать</a>
<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Удалить</a>
{% endif %}
<hr>
<div class="comments-form">

    <h5>Коментарии ({{post.comments_posts.all.count}})</h5>
    {% for comments in post.comments_posts.all %}
    <div class="text-comments">
        <p class="user-comments">{{ comments.author }} написал {{ comments.created }}:</p>
        <p>{{ comments.text }} </p>

    </div>
    {% empty %}
    <p>Пока нет коментариев</p>
    {% endfor %}


    {% if user.is_authenticated %}
    <!-- Код элементов, которые нужно показать только авторизованным пользователям -->
    <form action="" id="add_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary btn-sm mt-1 mb-1" type="submit">Добавить</button>
    </form>

    {% else %}
    <!-- Код элементов, которые нужно скрыть для неавторизованных пользователей -->
    <p>Чтобы оставить коментарий, войдите или зарегистрируйтесь.</p>
    {% endif %}

</div>

<!-- Модальное окно -->
<div id="myModal" class="modal">

    <span class="close" onclick="closeModal()">&times;</span>
    <img id="img01" class="modal-content">
  </div>


{% endblock %}

